.board {
    /* position */
    margin: 0 auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: grid;
    grid-template: ". . . .";
    grid-gap: 0.5em;

    width: 40vw;
    height: 40vw;
    min-width: 250px;
    min-height: 250px;
    max-width: 500px;
    max-height: 500px;
}

.cell:not(.empty) {
    font-weight: 700;
    font-family: monospace;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    position: relative;
    
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    background: #dfc8bf;
    padding: 0.8rem 1rem;
    color: #5f5f5f;
    text-align: center;
    border: 1px solid #cecaca;
}

.cell {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    user-select: none;
}

.slot {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: calc(0.7vmin + 0.7vmax + 30px);
    transform: translate(-50%, -50%);
}

.new-game {
    margin: 3vh auto 3vh auto;
    width: fit-content;
    height: fit-content;
}

.ng {
    font-weight: 500;
    font-family: monospace;
    text-align: center;
    font-size: x-large;
    border: 3px solid #c9c9c9;
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    padding: 10px 15px 10px 15px;

    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    background: #dbeed9;
    padding: 0.8rem 1rem;
    color: #5f5f5f;
    text-align: center;
}
.ng:hover {
    opacity: 0.8;
}

.score {
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    font-family: monospace;

    width: fit-content;
    height: fit-content;

    display: inline;
    margin: 1vw;
    border: 3px solid #c9c9c9;
    background-color: #ffffff;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    background: #ffffff;
    padding: 0.8rem 1rem;

    color: #5f5f5f;
    text-align: center;
}

.scores {
    width: fit-content;
    height: fit-content;
    margin: 3vh auto 3vh auto;
    margin-bottom: 50px;
}
